/* 
--------------------------------------------------------------------------------
Fonts 
--------------------------------------------------------------------------------
*/

/* Georgia */
#header #tagline,
body#main_blog div#item-header div#item-meta
{
	font-family: Georgia, Times, serif;
}

/* 
Google Webfont: using "Lato" enqueued in functions.php
*/
#title h1,
#title h1 a,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
body.settings #content h3,
body.settings.my-account #content h3,
body.settings.general #content h3,
body.directory.logged-in #content form.dir-form h3,
body.directory #content form.dir-form h3,
body.create-blog #content h3, 
body.registration #content h2, 
body.activation.activate #content h2, 
body.activate #content h3, 
body.directory.logged-in #content h3,
body.directory #content h3, 
body.group-create #content form.standard-form > h3,
body.create-blog #content #setupform label,
#register-page #signup_form h2,
div#item-header h2,
body.group-admin #content div#item-header h2,
ul#member-list h5,
ul#admins-list h5,
ul#mods-list h5,
ul#members-list h5,
span.highlight,
.item-title a,
div#message-thread strong a,
.standard-form label, 
.standard-form span.label,
form#send-reply div.message-box .avatar-box strong,
form#whats-new-form h5
{
	font-family: Lato, 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

body.create-blog #cp-multisite-options h4,
body#main_blog.create-blog.buddypress_page #content .padder h3,
body.registration #content h4, 
body.group-create #group-create-body h2, 
body.group-create #group-create-body h3, 
body.directory.logged-in #content h4, 
body.group-create #content h4, 
body.group-admin #group-create-body h2, 
body.group-admin #group-create-body h3, 
body.group-admin #content h4, 
body.group-admin #content h3, 
body.group-admin #content h2,
body#main_blog div#item-header div#item-actions h3,
.profile h4,
#register-page #cp-multisite-options h4,
#content .mu_register h2,
#content .mu_register label,
#content .mu_register #cp-multisite-options h3,
/* Comment form */
div#respond h4#respond_title,
/* BuddyPress Group Email Subscription compatibility */
h3.activity-subscription-settings-title,
/* BuddyPress Messages */
h3#message-subject,
table#message-threads tr td.thread-from,
table#message-threads tr td.thread-info p,
form#settings-form table.notification-settings th.title,
table.notifications th,
/* BuddyPress Group Announcements compatibility */
body.groups.announcements #item-body h3
{
	font-family: Lato, 'Trebuchet MS', Helvetica, Arial, sans-serif;
}





/* 
--------------------------------------------------------------------------------
Stylistic regularity 
--------------------------------------------------------------------------------
*/

#header #tagline 
{
	color: #999;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6
{
	/* don't force uppercase */
}

/* buddypress headings */
body.directory.logged-in #content form.dir-form h3,
body.directory #content form.dir-form h3,
body.create-blog #content h3, 
body.registration #content h2, 
#register-page #signup_form h2,
body.activation.activate #content h2, 
body.activate #content h3, 
body.directory.logged-in #content h3,
body.directory #content h3, 
body.group-create #content form.standard-form > h3,
body#main_blog div#item-header div#item-actions h3,
div#item-header h2,
ul#member-list h5,
ul#admins-list h5,
ul#mods-list h5,
ul#members-list h5,
span.highlight,
.item-title a,
.standard-form label, 
.standard-form span.label,
form#send-reply div.message-box .avatar-box strong,
form#settings-form table.notification-settings th.title,
table.notifications th
{
	text-transform: uppercase;
}

.standard-form div.radio ul li
{
	text-transform: none;
}

body#main_blog #content div#item-header h2,
body.buddypress #content div#item-header h2
{
	font-size: 1.6em;
	margin: 0;
}

#register-page #cp-multisite-options h4
{
	margin-top: 0;
	margin-bottom: 0;
}

button, 
a.button, 
input[type="submit"], 
input[type="button"], 
input[type="reset"], 
ul.button-nav li a, 
div.generic-button a 
{
	color: #777;
}

/* the all-important highlight state */
.selected_para
{
	color: #ca0000;
}

.post a,
#item-body a,
.standard-form label, 
.standard-form span.label,
form#settings-form table.notification-settings th.title,
table.notifications th
{
	color: #761D19;
}

.comment-content a
{
	color: #761D19;
}

.activity-header a, 
.comment-meta a, 
.acomment-meta a,
.meta a,
#groups-list .group-subscription-div a,
body.create-blog #content a
{
	color: #761D19;
}

#cancel-comment-reply-link
{
	color: #000;
}

.comment-identifier .comment-edit a:hover,
.comment-identifier .comment-assign:hover,
.comment-identifier cite a:hover,
.reply a:hover,
.comment_permalink:hover,
.comment_activity_link:hover,
.author_is_logged_in a:hover,
#cancel-comment-reply-link:hover
{
	color: #761D19;
}

#groups-list .group-subscription-div
{
	color: #777;
}






/* 
--------------------------------------------------------------------------------
BuddyPress Main Site
--------------------------------------------------------------------------------
*/

/* Darkest Colour for header */
#header
{
    background: #2c2622;
}



/* main site */
body,
body#main_blog
{
	background: #2c2622;
}

	body#main_blog.create-blog.buddypress_page #content .padder h3,
	body#main_blog form.dir-form,
	body.buddypress form.dir-form,
	body#main_blog div.item-list-tabs,
	body.buddypress div.item-list-tabs,
	body#main_blog form#whats-new-form, 
	body#main_blog .home-page form#whats-new-form,
	body.buddypress form#whats-new-form, 
	body.home-page form#whats-new-form,
	body.directory #content h3, 
	body.group-create #content form.standard-form > h3,
	#register-page #signup_form h2,
	body.activation.activate #content h2,
	body.activation.activate #content h3,
	div#item-header,
	#content div.item-list-tabs#object-nav
	{
		background: #761D19;
	}
	
	body#main_blog div.item-list-tabs#subnav
	{
		background: #fff;
	}
	
	body#main_blog #item-body form#whats-new-form,
	body.buddypress #item-body form#whats-new-form
	{
		background-color: #eee;
	}
	
	body#main_blog div#item-header div#item-meta,
	body.buddypress div#item-header div#item-meta 
	{
		color: #fff;
	}
	
	

/***************** List Items ******************/

ul.item-list li div.item-desc 
{
	color: #761D19;
}





/* 
--------------------------------------------------------------------------------
Prose 
--------------------------------------------------------------------------------
*/

/* body (allow Theme Customizer to set colour for non-groupblogs) */
body.blogtype-0
{
    background: #312F84;
}

/* body (do not allow Theme Customizer to set colour for groupblogs) */
body.is-groupblog.blogtype-0
{
    background: #312F84 !important;
}

/* group home */
div#content.groupblogtype-0 div#item-header,
#content.groupblogtype-0 div.item-list-tabs#object-nav
{
	background: #312F84;
}

/* group bg 
li.groupblogtype-0
{
    background: #312F84;
}
*/

/* group decoration */
ul.item-list li.groupblogtype-0 .item-title a,
ul.item-list li.groupblogtype-0 .item-desc,
ul.item-list li.groupblogtype-0 .item-desc p,
ul.item-list li.groupblogtype-0 .item-desc a
{
    color: #312F84;
}

/* groups, blogs & activities lists */
ul#groups-list li.groupblogtype-0 .group-wrapper,
ul#blogs-list li.groupblogtype-0 .blog-wrapper,
ul.activity-list li.groupblogtype-0 .activity-wrapper
{
    border-left: 10px solid #312F84;
}

/* activity tab */
#activity_sidebar li.groupblogtype-0
{
    border-left: 10px solid #312F84;
}

/* revert overridden posts to poetry */
body.blogtype-0 #content .post.overridden_type-1 p
{
	line-height: 1.5;
	padding-bottom: 24px;
}

/* make some space after search_meta for overridden */
body.blogtype-0 #content .post.overridden_type-1 div.search_meta
{
	padding-bottom: 24px;
}

/* prose defaults to right-bubbles */

/* poetry overrides default to left-bubbles 
body.blogtype-0 .post.overridden_type-1 span.commenticonbox 
{
	position: absolute;
	margin-left: -40px;
	margin-top: -2px;	
	padding-right: 20px;
	right: auto;
}
*/




/* 
--------------------------------------------------------------------------------
Poetry
--------------------------------------------------------------------------------
*/

/* body (allow Theme Customizer to set colour for non-groupblogs) */
body.blogtype-1
{
	background: #2C6D1F;
}

/* body (do not allow Theme Customizer to set colour for groupblogs) */
body.is-groupblog.blogtype-1
{
	background: #2C6D1F !important;
}

/* group home */
div#content.groupblogtype-1 div#item-header,
#content.groupblogtype-1 div.item-list-tabs#object-nav
{
	background: #2C6D1F;
}

/* group bg 
li.groupblogtype-1
{
    background: #2C6D1F;
}
*/

/* group */
ul.item-list li.groupblogtype-1 .item-title a,
ul.item-list li.groupblogtype-1 div.item-desc,
ul.item-list li.groupblogtype-1 div.item-desc p,
ul.item-list li.groupblogtype-1 div.item-desc a
{
	color: #2C6D1F;
}

/* groups, blogs & activities lists */
ul#groups-list li.groupblogtype-1 .group-wrapper,
ul#blogs-list li.groupblogtype-1 .blog-wrapper,
ul.activity-list li.groupblogtype-1 .activity-wrapper
{
    border-left: 10px solid #2C6D1F;
}

/* activity tab */
#activity_sidebar li.groupblogtype-1
{
    border-left: 10px solid #2C6D1F;
}

/* content formatting for poetry */
body.blogtype-1 #content .post p
{
	line-height: 1.5;
	padding-bottom: 24px;
}

/* revert overridden posts to prose */
body.blogtype-1 #content .post.overridden_type-0 p,
body.commentpress_page.blogtype-1 #content .post p
{
	line-height: 1.5;
	padding-bottom: 11px;
}

/* allow for comment form */
body.commentpress_page.blogtype-1 #content #respond p
{
	padding-bottom: 0;
}

/* make some space after search_meta */
body.blogtype-1 #content div.search_meta
{
	padding-bottom: 24px;
}

/* remove space before overridden posts */
body.blogtype-1 #content .post.overridden_type-0 div.search_meta
{
	padding-bottom: 7px;
}

/* unfortunately, we need to reset search */
body.blogtype-1 #content div.search_meta p
{
	margin: 0;
	padding: 0;
}

/* poetry defaults to left-bubbles 
body.blogtype-1 .post span.commenticonbox 
{
	position: absolute;
	margin-left: -40px;
	margin-top: -2px;	
	padding-right: 20px;
	right: auto;
}
*/

/* prose overrides default to right-bubbles 
body.blogtype-1 .post.overridden_type-0 span.commenticonbox 
{
	position: absolute;
	margin-left: 0;
	margin-top: 0;	
	padding-right: 20px;
	right: 25px;
}
*/





/* 
--------------------------------------------------------------------------------
Translation 
--------------------------------------------------------------------------------
*/

/* body (allow Theme Customizer to set colour for non-groupblogs) */
body.blogtype-2
{
    background: #8A26B1;
}

/* body (do not allow Theme Customizer to set colour for groupblogs) */
body.is-groupblog.blogtype-2
{
    background: #8A26B1 !important;
}

/* group home */
div#content.groupblogtype-2 div#item-header,
#content.groupblogtype-2 div.item-list-tabs#object-nav
{
	background: #8A26B1;
}

/* group bg 
li.groupblogtype-2
{
    background: #8A26B1;
}
*/

/* group */
ul.item-list li.groupblogtype-2 .item-title a,
ul.item-list li.groupblogtype-2 .item-desc,
ul.item-list li.groupblogtype-2 .item-desc p,
ul.item-list li.groupblogtype-2 .item-desc a
{
    color: #8A26B1;
}

/* groups, blogs & activities lists */
ul#groups-list li.groupblogtype-2 .group-wrapper,
ul#blogs-list li.groupblogtype-2 .blog-wrapper,
ul.activity-list li.groupblogtype-2 .activity-wrapper
{
    border-left: 10px solid #8A26B1;
}

/* activity tab */
#activity_sidebar li.groupblogtype-2
{
    border-left: 10px solid #8A26B1;
}






/* 
--------------------------------------------------------------------------------
Footer
--------------------------------------------------------------------------------
*/

#footer
{
}

#footer p
{
}





/* 
--------------------------------------------------------------------------------
BuddyPress Group Email Subscription compatibility
--------------------------------------------------------------------------------
*/

/* default "get email updates" link on yellow */
.single-item #content.groupblog .group-subscription-div a 
{
	color: #fff;
}

/* where a groupblog is set, use grey */
.single-item #content.groupblog.groupblogtype-0 .group-subscription-div a,
.single-item #content.groupblog.groupblogtype-1 .group-subscription-div a,
.single-item #content.groupblog.groupblogtype-2 .group-subscription-div a 
{
	color: #ccc;
}





