/* IE6 */



/* hide vertical content */
* html, 
* html body
{
	height: 100%;
	background: #C8D0C5;
	overflow-y: hidden;
}

/* make header static */
* html div#header,
* html div#book_header 
{ 
	position: absolute !important;
}

#minimiser_trigger
{
	display: none;
}

/* 
generate scrollbars for the content 
NOTE: this partially hides the scrollbar under the header 
*/
* html div#container 
{
	top: 0;
}

* html div#main_wrapper 
{
	top: 108px;
	width: 99%;
	left: 0;
	position: absolute !important;
	height: 95%;
	overflow: auto;
}

* html div#footer
{ 
	margin-bottom: 118px; /* compensate for container top */
}




/* Book Navigation */
#book_nav div#cp_book_nav
{
	zoom: normal; /* unfortunately this doesn't work to remove layout */
}



/* Book search */
#document_search 
{
	padding: 4px 0 0 0;
}

#document_search input#s
{
	margin: 2px 5px 0 0;
}

#document_search input#searchsubmit
{
	margin: 0 10px 0 0;
}


/* zoom! */
#content,
#reply,
.sidebar_minimiser,
.sidebar_minimiser ul,
.sidebar_minimiser ul li,
.sidebar_minimiser ul li a,
.sidebar_contents_wrapper,
#cp_book_info,
.list_commenticon,
div.paragraph_wrapper,
.comment-identifier,
.comment-content,
.cancel-comment-reply,
.reply,
#respond_title,
#respond label,
.multipager,
.multipager .alignleft,
.multipager .alignright
{
	zoom: 1;
}



/* add layout to paragraphs and list items to prevent guillotine bug */
.post p
{
	zoom: 1;
}

img.alignleft,
img.alignright
{
	zoom: 1;
}



/* sidebar */
#sidebar_inner
{
	float: none;
}

ul#sidebar_tabs
{
	width: 100%;
}



/* comment formatting */
.comments_container .comment-content ol
{
	margin: 0 0 8px 28px;
}

.comments_container h3
{
	color: #761D19;
	padding: 10px 0 6px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 80%;
	color: #761D19;
	text-decoration: none;
	background: #EFEFEF;
	border-bottom: 1px solid #B5BFB2;
}

.comments_container h3 a
{
	color: #761D19;
}



/* multipager */
.multipager
{
	text-align: right;
}

/* seems to need forcing */
.multipager span
{
	cursor: pointer;
}

.multipager .alignright
{
	float: none;
}

.multipager .alignleft
{
	padding-top: 4px;
}



/* solve para icon bug on lists */
li.list_commenticon
{
}

li.list_commenticon a.para_permalink
{
	position: absolute !important;
	float: left;
	height: 14px;
	width: 20px;
	margin: 0 15px 0 0;
}

li.list_commenticon span.commenticonbox small
{
	float: right;
	margin: 0 0 0 20px;
}

/* RH Column Amends */
* html #sidebar
{ 
	position: absolute !important;
	left: 60%;
	width: 36%;
}

