/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:'' }



/* Global reset-RESET */
/* The below restores some sensible defaults */
strong { font-weight: bold }
em { font-style: italic }
a img { border:none } /* Gets rid of IE's blue borders */



/* TYPOGRAPHY */



/* This helps to identify headings at the initial build stage */
h1, h2, h3, h5, h5, h6 { font-weight: bold }



/* definition lists */
dt { font-weight: bold }
dd { padding: 0 0 10px 0 }

/* acronyms etc */
acronym, 
abbr
{
	border-bottom: 1px dotted #B5BFB2;
	cursor: help;
}

/* In an aural stylesheet, we'd add:

acronym { speak: normal; }
abbr.initialism { speak: spell-out; }
abbr.truncation { speak: normal; }
*/



/* 
--------------------------------------------------------------------------------
Post-related styles
--------------------------------------------------------------------------------
*/

p,
ul,
ol,
dl,
address
{
	padding: 7px 0 11px 0;
}

h1 
{
	font-family: Georgia, serif;
	font-size: 1.8em;
	font-weight: normal;
	color: #761D19;
	margin: 8px 0 16px 0;
	padding-left: 7px;
	padding-right: 7px;
}

h2 
{
	font-family: Georgia, serif;
	font-size: 1.55em;
	font-weight: normal;
	color: #761D19;
	margin: 8px 0 16px 0;
	padding-left: 7px;
	padding-right: 7px;
}

h2 a:link,
h2 a:hover,
h2 a:visited
{
	color: #761D19;
	text-decoration: none;
}

h2 a:active,
h2 a:focus
{
	background-color: #CBFFBD;
}

h3
{
	font-size: 1.3em;
	font-weight: normal;
	color: #761D19;
	margin: 12px 0 6px 0;
	padding-left: 7px;
	padding-right: 7px;
}

h3 a:link
{
	font-weight: normal;
	text-decoration: none;
	color: #761D19;
}

h4
{
	font-size: 1.2em;
	font-weight: 200;
	color: #555;
	margin: 20px 0 10px 0;
	padding-left: 7px;
	padding-right: 7px;
}

h5
{
	font-size: 1.1em;
	font-weight: normal;
	color: #888;
	margin: 10px 0 10px 0;
	font-style: italic;
	padding-left: 7px;
	padding-right: 7px;
}

h6
{
	font-size: 1em;
	font-weight: normal;
	color: #888;
	margin: 10px 0 10px 0;
	font-style: italic;
	padding-left: 7px;
	padding-right: 7px;
}

p
{
	
	font-size: 1em;
	line-height: 1.45;
	padding-left: 7px;
	padding-right: 7px;
}

a
{
	color:#222;
	text-decoration: underline;
}

/* prevents outlines - we set them explicitly for elements that require them */
a:focus 
{
	outline: 0;
}

a.download_link
{
	display: block;
	text-align: center;
	font-size: 1.55em;
	border: 3px solid #761D19;
	background-color: #CBFFBD;
	padding: 8px 20px;
	margin: 0 0 10px 0;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	text-decoration: none;
}

img
{
	vertical-align: top;
}

img.alignleft
{
	margin: 0 10px 10px 0;
}

img.alignright
{
	margin: 0 0 10px 10px;
}

span.captioned_image
{
	display: block;
	background: #ccc; 
	padding: 10px; 
	margin: 7px 0; 
	border: 1px solid #B5BFB2; 
}

	span.captioned_image.aligncenter
	{
		margin: 0 auto;
		margin-top: 7px; 
	}
	
	span.captioned_image.alignleft
	{ 
		margin-right: 7px; 
	}
	
	span.captioned_image.alignright
	{ 
		margin-left: 7px; 
	}

span.wp-caption 
{ 
	display: block;
	text-align: center; 
	padding: 0;
	margin: 0;
}

.post small.wp-caption-text
{ 
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
}

/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
.aligncenter 
{ 
	display: block; 
	margin: 0 auto 
}

.alignleft 
{ 
	float: left;
}

.alignright 
{ 
	float: right;
}





/* horizontal rule (to divide text from footnotes) */
hr 
{
	margin: 2px 0 16px 0;
	padding-left: 7px;
	padding-right: 7px;
}

table
{
	margin: 0 7px;
	color: #333;
	border: 1px solid white;
}

table th
{
	font-size: 1.1em;
	font-weight: bold;
}

table th,
table td
{
	text-align: center;
	padding: 5px;
	border: 1px solid white;
	background: #c5c7c8;
}

table tr.alternate th,
table tr.alternate td
{
	background: #d6d6d7;
}

p,
ul,
ol,
{
	padding: 7px 7px 11px 7px;
}

small
{
	padding-left: 7px;
	padding-right: 7px;
}

ul li
{
	list-style-type: disc;
	margin: 2px 0 10px 28px;
}

ol li
{
	list-style-type: decimal;
	margin: 2px 0 10px 28px;
}

blockquote
{
	margin-left: 0;
	margin-right: 0;
	padding: 1px 15px;
	background: transparent url(style/images/icons/quote.png) no-repeat;
	font-style: italic;
}

blockquote cite:before
{
	content: "\00BB \0020";
}

blockquote cite
{
}

.footnotes
{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
}

hr 
{
	margin: 20px 0 8px 0;
	color: #999;
	background-color: #999;
	height: 1px;
	border: none;
}

big
{
	font-size: larger;
}

tt,
code,
kbd,
samp
{
	font-family: monospace;
}

pre, 
xmp, 
plaintext, 
listing
{
	padding: 7px 7px 11px 7px;
}

i, 
cite, 
em, 
var, 
address, 
q
{
	font-style: italic;
}

sub
{
	vertical-align: sub;
	font-size: smaller;
}

sup
{
	vertical-align: super;
	font-size: smaller;
}




