/*
================================================================================
CommentPress Flat BuddyPress v10+ Stylesheet
================================================================================
AUTHOR: Christian Wach <needle@haystack.co.uk>
--------------------------------------------------------------------------------
NOTES

BuddyPress 10+ compatibility and overrides.

--------------------------------------------------------------------------------
*/

/*
#buddypress #activity-stream li.mini .bp-member-avatar-content img.profile-photo,
#buddypress #activity-stream li.mini .bp-group-avatar-content img.group-photo
{
    width: 80px;
    height: 80px;
}
*/

#buddypress #activity-stream li.mini .bp-group-activity-preview,
#buddypress #activity-stream li.mini .bp-member-activity-preview
{
    margin-top: 0.5em;
}

#buddypress #activity-stream li.mini .bp-group-activity-preview img.avatar,
#buddypress #activity-stream li.mini .bp-member-activity-preview img.avatar
{
    width: 120px;
    height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #fff;
}

#buddypress .bp-member-preview-cover img,
#buddypress .bp-group-preview-cover img
{
	height: 150px;
}

@media screen and (max-width: 46.8em) {
	#buddypress .bp-member-avatar-content,
	#buddypress .bp-group-avatar-content
	{
	    width: 120px;
		margin-bottom: 15px;
	}
}
