/*
================================================================================
CommentPress Flat Print Stylesheet
================================================================================
AUTHOR: Christian Wach <needle@haystack.co.uk>
--------------------------------------------------------------------------------
NOTES

Original Author: Jack Dougherty for Writing History in the Digital Age
Updated by Christian Wach for CommentPress Core

--------------------------------------------------------------------------------
*/

@media print {

	div, h1, h2, h3, h4, h5, h6, p, ol, ul, li
	{
		width: auto !important;
		height: auto !important;
		min-height: 0 !important;
		color: #000;
		position: static !important;
	}

	/* Set sensible defaults */
	*, *:before, *:after
	{
		-webkit-transition: none !important;
		-moz-transition: none !important;
		transition: none !important;
		background: white !important;
		box-sizing: inherit;
	}

	html
	{
		background: white !important;
		background-color: white !important;
		color: #000;
		margin: 0;
		padding: 0;
	}

	body,
	body.is-groupblog.blogtype-0,
	body.is-groupblog.blogtype-1,
	body.is-groupblog.blogtype-2,
	body.is-groupblog.blogtype-3,
	body.is-groupblog.blogtype-4
	{
		background: white !important;
		background-color: white !important;
		color: #000;
		font-size: 9pt;
		/* Text should be "readable" */
		font-family: Georgia, serif;
		margin: 24pt;
		padding: 0;
	}

	/* Link style */
	a
	{
		color: #000 !important;
		text-decoration: underline;
	}

	/* Headings should be "legible" */
	h1, h2, h3, h4, h5, h6,
	.post h1, .post h2, .post h3, .post h4, .post h5, .post h6
	{
		padding-left: 0;
		padding-right: 0;
		color: #000;
		font-weight: bold;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		/* Avoid printed page breaks immediately after headers, or in middle of images or blockquotes */
		page-break-after: avoid;
		page-break-inside: avoid;
		text-transform: none;
	}

	/* Headings as links are superfluous */
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		color: #000;
		text-decoration: none;
	}

	/* Remove unnecessary elements */
	a.skip,
	span.off-left,
	#tagline,
	#document_search,
	#user_links,
	span.commenticonbox,
	p.postmetadata,
	.entry-meta,
	.entry-category-meta,
	div.ui-resizable-handle,
	ul#sidebar_tabs,
	div#activity_sidebar,
	div#toc_sidebar,
	#respond_wrapper,
	#respond,
	div.reply_to_para,
	div.reply,
	img.avatar,
	a.comment-edit-link,
	.no_comments,
	.multipager,
	p.edit_link,
	.cp_logo_image,
	.comment-identifier span.comment-edit,
	.comment-identifier span.comment-assign,
	.comment-popover-holder,
	.popover-holder,
	div.ui-helper-hidden-accessible,
	div.ui-helper-hidden-accessible div,
	div.ui-tooltip,

	/* responsive additions */
	#header img,
	#navigation,
	.page_navigation,
	#switcher,

	/* JetPack sharing */
	div.sharedaddy,
	#content div.sharedaddy,
	#main div.sharedaddy,

	/* JetPack contact form */
	form.contact-form,

	/* Featured Comments */
	div.feature-burry-comments,
	div.feature-bury-comments,

	/* Comment Upvoter */
	.comment-upvote,

	/* Facebook */
	div.fb_reset,

	/* WordPress */
	#wpadminbar,

	/* Footer menu */
	#footer .menu,

	/* force comment form to be hidden */
	#respond
	{
		display: none !important;
	}



	/* show header */
	#header,
	#title
	{
		position: static !important;
		top: auto;
		height: auto;
		border: none;
		margin: 0;
		padding: 0;
		min-height: 0;
	}

	#page_title,
	#title
	{
		float: none;
		margin: 0;
		padding: 0;
	}

	/* show Site Title */
	#header #title h1,
	#header #title h1 a,
	#header #title h1 a:link,
	#header #title h1 a:hover,
	#header #title h1 a:active,
	#header #title h1 a:visited
	{
		display: block;
		width: auto;
		height: auto;
		letter-spacing: 0;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 11pt;
		font-weight: normal;
		color: #ccc !important;
		margin: 0;
		padding: 0;
		text-indent: 0 !important;
	}

	#header #title h1
	{
		padding-left: 24pt;
	}

	body.commentpress_page #header #title h1,
	body.not_commentable #header #title h1
	{
		padding-left: 0;
	}


	/* Place content */
	#container
	{
		position: static !important;
		top: auto !important;
		background: white;
		width: auto !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	/* Remove borders */
	#page_wrapper,
	.sidebar_minimiser
	{
		border: none;
	}

	/* Remove drop shadows */
	#content_container,
	#header,
	#wrapper,
	#main_wrapper,
	#page_wrapper,
	.sidebar_minimiser
	{
		float: none;
		position: static !important;
		width: auto !important;
		height: auto !important;
		padding: 0;
		margin: 0;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-khtml-box-shadow: none;
		box-shadow: none;
	}

	/* Google Chrome requires max-width and min-width */
	#wrapper
	{
		z-index: auto;
		max-width: 100% !important;
		min-width: 100% !important;
	}

	/* Feature Images */
	.cp_feature_image,
	#container .cp_feature_image
	{
		padding-top: 6pt;
	}

	.cp_feature_image .cp_featured_title .cp_featured_title_inner,
	#container .cp_feature_image .cp_featured_title .cp_featured_title_inner
	{
		margin: 0 !important;
		padding: 0;
	}

	/* Feature Image Page Title */
	#container .cp_featured_title_inner h2.post_title
	{
		padding: 0;
		margin-top: 10pt;
		margin-bottom: 4pt;
		padding-left: 0;
		font-size: 24pt;
		text-transform: none;
	}

	.cp_featured_title_inner h2.post_title a
	{
		color: #000;
	}

	#container #content,
	#content
	{
		padding: 0;
		margin: 0;
		height: auto;
		border: none;
	}

	/* prioritise content */
	.post
	{
		padding: 0 0 20pt 24pt;
		font-size: 100%;
		border: none;
		border-bottom: 1px solid #ccc;
	}

	body.commentpress_page .post,
	body.not_commentable .post
	{
		padding: 0 0 20pt 0;
	}

	/* Page Title */
	.post h2.post_title
	{
		padding: 0;
		margin-top: 10pt;
		margin-bottom: 4pt;
		font-size: 24pt;
		text-transform: none;
		line-height: 1.5;
	}

	.post h2.post_title a
	{
		color: #000;
	}

	/* post meta */
	#content .post .search_meta,
	#content .post .search_meta cite,
	#content .post .search_meta p
	{
		margin: 0;
		padding: 0;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 110%;
		color: #aaa;
		text-transform: none;
	}

	#content .post .search_meta
	{
		margin: -2pt 0 24pt 0;
		padding: 0;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	#content .post .search_meta cite a,
	#content .post .search_meta a
	{
		letter-spacing: 0;
		color: #aaa;
		text-decoration: none;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}



	/* post content */
	.post h1, .post h2, .post h3, .post h4, .post h5, .post h6
	{
		font-weight: bold;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-transform: none;
	}

	.post .textblock
	{
		position: relative !important;
		background: transparent !important;
	}

	.post p,
	.post address,
	.post pre
	{
		margin: 1em 0;
		padding: 0;
		line-height: 1.5;
	}

	.selected_para
	{
		color: #000 !important;
	}

	.post ul,
	.post ol
	{
		width: auto !important;
		margin: 1em 0 1em 2em;
		padding: 0;
		line-height: 1.5;
	}

	.post ul li,
	.post ol li
	{
		margin-bottom: 2pt;
		line-height: 1.5;
	}

	.post > ul,
	.post > ol
	{
	}

	.post dd
	{
		line-height: 1.5;
	}

	.post pre
	{
		padding: 1em;
		white-space: pre-wrap;
		overflow: visible;
	}

	.post .fluid-width-video-wrapper
	{
		width: auto !important;
		height: auto !important;
		min-height: 0 !important;
		color: #000;
		position: static !important;
		padding: 0 !important;
	}

	.post .fluid-width-video-wrapper iframe,
	.post .fluid-width-video-wrapper object,
	.post .fluid-width-video-wrapper embed
	{
		width: auto !important;
		height: auto !important;
		min-height: 0 !important;
		color: #000;
		position: static !important;
	}

	/*
	// would be nice, but makes the page width wider than the paper
	.post a[href]:after
	{
		content: " (" attr(href) ")";
	}

	// don't show certain link content
	.post span.para_marker a:after,
	.post span.commenticonbox a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after
	{
		content: "";
	}

	.post acronym[title]:after,
	.post abbr[title]:after
	{
		content: " (" attr(title) ")";
	}
	*/

	span.captioned_image
	{
		border: 1px solid #ccc;
		page-break-inside: avoid;
		page-break-after: avoid;
	}



	/* to show comment icons */
	li.list_commenticon
	{
		float: left;
		width: 2.5em;
		color: #888;
		margin-left: -2.5em;
		list-style: none;
	}

	/* to hide the nested list comment icons */
	ul ul li.list_commenticon,
	ul ol li.list_commenticon,
	ol ol li.list_commenticon,
	ol ul li.list_commenticon
	{
		visibility: hidden;
		float: left;
		height: 1px;
		margin: 0;
		padding: 0;
	}




	/* paragraph marker */
	span.para_marker
	{
		display: block;
		position: absolute !important;
		width: auto !important;
		margin-left: 0;
		left: -32px !important;
		color: #ccc !important;
		background-color: transparent;
	}

	blockquote p span.para_marker
	{
		margin-left: -10pt;
	}

	ul span.para_marker,
	ol span.para_marker
	{
		margin-left: -2em;
	}

	#content .post span.para_marker a,
	#content .post span.para_marker a span,
	span.para_marker a
	{
		font-size: 8pt;
		color: #ccc !important;
		text-decoration: none;
	}



	/* page numbering */
	.running_header_bottom
	{
		text-align: center;
		margin: 3em 0 1em 0;
		padding-bottom: 1em;
	}



	/* special pages */
	#comments_in_page_wrapper,
	#comments_in_page_wrapper .comments_container
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#comments_in_page_wrapper ul.all_comments_listing li > h3
	{
		font-size: 14pt;
		color: #000;
		border-top: none;
		border-bottom: 1px solid #ccc;
	}

	#comments_in_page_wrapper ul.all_comments_listing div.item_body div.comment_wrapper
	{
		border-top: 1px solid #ccc;
		border-bottom: none;
		page-break-inside: avoid;
	}

	#comments_in_page_wrapper ul.all_comments_listing div.item_body div.comment_meta
	{
		padding: 0;
		padding-top: 3px;
		border: none;
	}

	#comments_in_page_wrapper .comment-content
	{
		padding: 0;
	}

	#comments_in_page_wrapper .comment-content h1,
	#comments_in_page_wrapper .comment-content h2,
	#comments_in_page_wrapper .comment-content h3,
	#comments_in_page_wrapper .comment-content h4,
	#comments_in_page_wrapper .comment-content h5,
	#comments_in_page_wrapper .comment-content h6
	{
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-transform: none;
		color: #000;
	}

	.post p.comments_hl
	{
		padding: 0;
		margin: 0.5em 0;
		font-size: 16pt;
		font-weight: bold;
		color: #000;
	}

	.general_comments
	{
		margin: 0;
		padding: 0;
	}

	.post .comments_container > h3
	{
		padding: 0;
		margin: 0.5em 0 1em 0;
		font-size: 16pt;
		font-weight: bold;
		color: #000;
	}

	#comments_in_page_wrapper .comment-content
	{
		margin: 0;
		padding: 0;
	}



	/* show sidebar */
	#sidebar
	{
		position: static !important;
		width: auto !important;
		max-width: 100% !important;
		min-width: 100% !important;
		height: auto !important;
		top: auto !important;
		left: auto !important;
		float: none;
		clear: left;
	}

	/* show divider */
	#comments_sidebar
	{
		position: static !important;
		width: auto !important;
		border-bottom: 1px solid #ccc;
		padding-bottom: 16pt;
		padding-left: 24pt;
	}

	#sidebar .sidebar_container .sidebar_header
	{
		display: block;
		padding-top: 10pt;
	}

	#sidebar .sidebar_container .sidebar_header h2
	{
		display: block;
		margin-top: 0;
		padding-top: 10pt;
		font-size: 16pt;
		font-weight: bold;
		text-transform: none;
		color: #000;
	}

	/* release vertical constraint on comment wrapper */
	.sidebar_contents_wrapper
	{
		height: auto !important;
		overflow: visible;
	}

	/* para headers */
	div#comments_sidebar .comments_container > h3
	{
		text-transform: none;
		color: #000;
		margin: 1em 0 0 0;
		padding: 0 0 0.2em 0;
		font-size: 12pt;
		font-weight: bold;
		border: none;
	}

	div#comments_sidebar .comments_container > h3 a
	{
		text-transform: none;
		display: inline;
		color: #000;
		margin: 0;
		padding: 0;
	}

	div#comments_sidebar .comments_container > h3 span.source_block
	{
		text-transform: none;
		display: inline !important;
	}

	ol.commentlist,
	ol.children
	{
		margin: 0;
		padding: 0;
	}

	ol.commentlist li,
	.post ol.commentlist li,
	ol.commentlist li.comment,
	.post ol.commentlist li.comment
	{
		list-style: decimal;
		margin: 0 0 0 20pt;
		padding: 0;
	}

	ol.children li,
	.post ol.children li,
	ol.children li.comment,
	.post ol.children li.comment
	{
		list-style: decimal;
		margin: 0 0 0 20pt;
		padding: 0;
	}

	.comment-wrapper
	{
		page-break-inside: avoid;
	}



	/* prioritise comment content */
	div#comments_sidebar .comments_container .comment-content
	{
		font-size: 100%;
		padding: 0.2em 0 0.5em 0;
		border: none !important;
	}






	/* comment meta */
	.comment-identifier,
	.comment-content
	{
		border: none;
	}

	.comment-identifier cite,
	.comment-identifier a.comment_permalink
	{
		text-transform: none;
		letter-spacing: 0;
		color: #aaa !important;
		display: inline;
		font-size: 7pt;
		margin: 0;
		padding: 0;
		font-weight: bold;
		color: #222;
	}

	.comment-identifier cite a
	{
		font-weight: bold;
		color: #222;
		text-decoration: none;
	}

	.comment-identifier a.comment_permalink
	{
		font-weight: normal;
		color: #aaa;
		text-decoration: none;
	}

	.comment_permalink_copy:before
	{
		display: none;
	}

	/* comment elements to hide */
	div#comments_sidebar .comments_container .reply
	{
		font-size: 110%;
		padding: 0.2em 0 1em 0;
		border: none !important;
	}

	/* comment elements to show */
	div#comments_sidebar .paragraph_wrapper
	{
		display: block !important;
	}

	/* comment elements to hide */
	div#comments_sidebar .paragraph_wrapper.no_comments,
	a.comment-reply-link
	{
		display: none !important;
	}





	/* comment content */
	div#comments_sidebar .comments_container .comment-content h1,
	div#comments_sidebar .comments_container .comment-content h2,
	div#comments_sidebar .comments_container .comment-content h3,
	div#comments_sidebar .comments_container .comment-content h4,
	div#comments_sidebar .comments_container .comment-content h5,
	div#comments_sidebar .comments_container .comment-content h6
	{
		font-weight: bold;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-transform: none;
	}

	div#comments_sidebar .comments_container .comment-content p
	{
		line-height: 1.4;
		padding: 0 0 0.6em 0.2em;
		margin: 0;
	}

	div#comments_sidebar .comments_container .comment-content ul,
	div#comments_sidebar .comments_container .comment-content ol
	{
		line-height: 1.4;
		padding: 0 0 0 1.1em;
		margin: 0;
	}

	div#comments_sidebar .comments_container .comment-content > ul,
	div#comments_sidebar .comments_container .comment-content > ol
	{
		padding: 0 0 0 1.1em;
		margin: 0;
	}

	div#comments_sidebar .comments_container .comment-content ul li,
	div#comments_sidebar .comments_container .comment-content ol li
	{
		margin-bottom: 2pt;
		line-height: 1.4;
	}



	/* All Comments */
	ul.all_comments_listing div.item_body
	{
		display: block !important;
	}



	/* footer enabled */
	#footer
	{
		position: static !important;
		float: none;
		clear: left;
		border: none;
		margin: 0;
		padding: 0;
		padding-top: 1em;
		color: #aaa;
		-webkit-box-shadow: 0 0 0 #fff;
		-moz-box-shadow: 0 0 0 #fff;
		-khtml-box-shadow: 0 0 0 #fff;
		box-shadow: 0 0 0 #fff;
		max-width: 100% !important;
		min-width: 100% !important;
	}

	#footer_inner
	{
		margin: 0;
		padding: 0;
	}

	/* guessing some tags */
	#footer h3,
	#footer h4,
	#footer h5,
	#footer h6,
	#footer address,
	#footer span,
	#footer p,
	#footer ul li,
	#footer ol li
	{
		color: #aaa;
		font-size: 0.8em;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	#footer a,
	#footer_inner p a
	{
		color: #aaa !important;
		text-decoration: none;
	}

	/* show url */
	p.hidden_page_url
	{
		display: block;
		color: #aaa !important;
		background: transparent;
		text-align: center;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 0.8em;
	}



	/* layout preferences for other elements */
	img
	{
		page-break-inside: avoid;
		page-break-after: avoid;
	}

	blockquote,
	table,
	pre
	{
		page-break-inside: avoid;
	}

	blockquote
	{
		margin: 0;
		padding-left: 10pt;
		border-left: 1px solid #aaa;
		font-style: italic;
	}

	table
	{
		width: auto;
	}

	table th,
	.post table th,
	table td,
	.post table td
	{
		border: 1px solid #ccc;
	}

	ul,
	ol,
	dl
	{
		page-break-before: avoid;
	}

	dt
	{
		font-weight: bold;
	}



	/* footnotes plugin compatibility */
	.simple-footnotes .para_marker,
	.simple-footnotes .commenticonbox,
	.simple-footnotes li.list_commenticon .para_marker,
	.simple-footnotes li.list_commenticon .commenticonbox,
	.simple-footnotes li > a:last-child,
	.footnotes li.list_commenticon .para_marker,
	.footnotes li.list_commenticon .commenticonbox,
	.footnotes li .footnotereverse,
	.footnotes li > a:last-child
	{
		display: none;
	}



	/* WP FEE compatibility */
	.fee-thumbnail-toolbar,
	.fee-insert-thumbnail,
	.fee-content-body,
	.fee-toolbar,
	.wp-core-ui
	{
		display: none;
	}

	body.fee .cp_feature_image .fee-thumbnail.fee-empty + .cp_featured_title
	{
		padding: 0 !important;
	}

	body.fee .cp_feature_image .fee-thumbnail.fee-empty + .cp_featured_title .cp_featured_title_inner
	{
		margin: 0 !important;
		padding: 0 0 0 24pt;
	}

}
